# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ref/Delete me when finished/FHDRH6ZIR40GNEF/base.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/base_gear_big.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/base_gear_small.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/base_screw.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/DEC_mount.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/first_gear_DEC.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/gyro_mount.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/laser_mount.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/second_gear_DEC.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/small_gear_DEC.stl
ref/Delete me when finished/FHDRH6ZIR40GNEF/tripod_mount.stl
ref/Delete me when finished/Star-Track-master/master.ino
ref/Delete me when finished/Star-Track-master/README.md
ref/Delete me when finished/Star-Track-master/slave.ino
